<a href="https://colab.research.google.com/github/PetrovES570/PDA_SOL/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%91%D0%B8%D0%BB%D0%B5%D1%8215%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install duckdb jupysql duckdb-engine --upgrade --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 4.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 2.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 5.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.0/72.0 kB 2.7 MB/s eta 0:00:00

In [ ]:
!pip install altair

Requirement already satisfied: altair in /usr/local/lib/python3.11/dist-packages (5.5.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair) (1.23.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from altair) (24.2)
Requirement already satisfied: typing-extensions>=4.10.0 in /usr/local/lib/python3.11/dist-packages (from altair) (4.12.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair) (0.36.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair) (0.22.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair) (3.0.2)

In [ ]:
# Import jupysql Jupyter extension to create SQL cells
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
%config SqlMagic.autocommit=False  # Для автоматического выполнения

In [ ]:
import duckdb
import pandas as pd
import altair as alt

# Create DuckDB connection
con = duckdb.connect()

In [ ]:
duckdb.__version__

'1.1.3'

In [ ]:
%sql con

Если нет подключения к Postgres, можно загрузить данные привычным споособом:

In [ ]:
#df = pd.read_csv('/content/US_Regional_Sales_Data.csv', delimiter=',', encoding='unicode_escape')

In [ ]:
pip install squarify

Collecting squarify
  Downloading squarify-0.4.4-py3-none-any.whl.metadata (600 bytes)
Downloading squarify-0.4.4-py3-none-any.whl (4.1 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.4

In [ ]:
import pandas as pd
import numpy as np
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import squarify
from operator import attrgetter
import requests
import warnings
warnings.filterwarnings("ignore")
from urllib.parse import urlencode
%matplotlib inline

In [ ]:
%%sql
CREATE TABLE SalesData AS
SELECT DISTINCT
    OrderNumber,
        "Sales Channel",
        WarehouseCode,
        ProcuredDate,
        OrderDate,
        ShipDate,
        DeliveryDate,
        _SalesTeamID,
        _CustomerID,
        _StoreID,
        _ProductID,
        "Order Quantity",
        "Discount Applied",
        "Unit Cost",
        "Unit Price",
FROM read_csv_auto('/content/US_Regional_Sales_Data.csv', ignore_errors=true)
WHERE _CustomerID IS NOT NULL

   Count
0   7991

In [ ]:
%%sql
UPDATE SalesData
SET "Unit Price" = CAST(REPLACE("Unit Price", ',', '') AS INTEGER);

   Count
0   7991

In [ ]:
%%sql
select * from SalesData

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,SO - 000101,In-Store,WARE-UHY1004,2031-12-17,2031-05-18,2014-06-18,2019-06-18,6,15,259,12,5,0.075,"1,001.18",1963
1,SO - 000102,Online,WARE-NMK1003,2031-12-17,2031-05-18,2022-06-18,2002-07-18,14,20,196,27,3,0.075,"3,348.66",3940
2,SO - 000103,Distributor,WARE-UHY1004,2031-12-17,2031-05-18,2021-06-18,2001-07-18,21,16,213,16,1,0.050,781.22,1776
3,SO - 000106,Online,WARE-PUJ1005,2031-12-17,2031-05-18,2008-06-18,2013-06-18,12,21,285,1,5,0.050,446.56,1039
4,SO - 000107,In-Store,WARE-XYS1001,2031-12-17,2031-05-18,2008-06-18,2014-06-18,10,14,6,5,4,0.150,536.67,1193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008082,Distributor,WARE-PUJ1005,2026-09-20,2029-12-20,2007-01-21,2011-01-21,22,12,279,17,1,0.100,"1,303.42",1836
7987,SO - 0008086,In-Store,WARE-NBV1002,2026-09-20,2029-12-20,2009-01-21,2011-01-21,5,27,61,26,6,0.075,137.48,255
7988,SO - 0008088,Online,WARE-NMK1003,2026-09-20,2030-12-20,2002-01-21,2004-01-21,14,29,202,3,6,0.050,"1,921.56",3203
7989,SO - 0008089,Online,WARE-UHY1004,2026-09-20,2030-12-20,2023-01-21,2026-01-21,14,32,241,35,5,0.200,"2,792.76",3826
7990,SO - 0008091,In-Store,WARE-UHY1004,2026-09-20,2030-12-20,2013-01-21,2019-01-21,6,41,237,43,5,0.075,"1,370.82",2211

In [ ]:
%%sql
WITH ABCXYZ_Analysis AS (
    SELECT
        _ProductID,
        SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER)) AS TotalRevenue,
        STDDEV(CAST("Order Quantity" AS INTEGER)) AS OrderStdDev,
        AVG(CAST("Order Quantity" AS INTEGER)) AS OrderAvg,
        -- ABC классификация
        CASE
            WHEN SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER)) >= 0.8 * SUM(SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER))) OVER ()
            THEN 'A'
            WHEN SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER)) >= 0.5 * SUM(SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER))) OVER ()
            THEN 'B'
            ELSE 'C'
        END AS ABC_Class,
        -- XYZ классификация
        CASE
            WHEN (STDDEV(CAST("Order Quantity" AS INTEGER)) / NULLIF(AVG(CAST("Order Quantity" AS INTEGER)), 0)) * 100 <= 10 THEN 'X'
            WHEN (STDDEV(CAST("Order Quantity" AS INTEGER)) / NULLIF(AVG(CAST("Order Quantity" AS INTEGER)), 0)) * 100 <= 25 THEN 'Y'
            ELSE 'Z'
        END AS XYZ_Class
    FROM SalesData
    GROUP BY _ProductID
),
RFM_Analysis AS (
    SELECT
        _CustomerID,
        DATEDIFF('day', MAX(OrderDate), CURRENT_DATE) AS Recency, -- Разница в днях с последнего заказа
        COUNT(DISTINCT OrderNumber) AS Frequency, -- Количество уникальных заказов
        SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER) - "Discount Applied") AS Monetary, -- Общая сумма продаж с учётом скидки
        -- Присвоение R, F, M категорий
        NTILE(5) OVER (ORDER BY DATEDIFF('day', MAX(OrderDate), CURRENT_DATE)) AS R_Score,
        NTILE(5) OVER (ORDER BY COUNT(DISTINCT OrderNumber)) AS F_Score,
        NTILE(5) OVER (ORDER BY SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER) - "Discount Applied")) AS M_Score
    FROM SalesData
    GROUP BY _CustomerID
),
Final_Analysis AS (
    SELECT
        r._CustomerID,
        r.Recency,
        r.Frequency,
        r.Monetary,
        r.R_Score,
        r.F_Score,
        r.M_Score,
        -- Определение сегмента RFM
        CASE
            WHEN R_Score >= 4 AND F_Score >= 4 AND M_Score >= 4 THEN 'Champions'
            WHEN R_Score >= 3 AND F_Score >= 3 AND M_Score >= 3 THEN 'Loyal Customers'
            ELSE 'At Risk'
        END AS RFM_Segment,
        a._ProductID,
        a.TotalRevenue,
        a.ABC_Class || a.XYZ_Class AS ABCXYZ_Segment
    FROM RFM_Analysis r
    LEFT JOIN ABCXYZ_Analysis a ON a._ProductID = r._CustomerID -- Используем _ProductID для соединения
)
SELECT *
FROM Final_Analysis
ORDER BY RFM_Segment, ABCXYZ_Segment;

,_CustomerID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Segment,_ProductID,TotalRevenue,ABCXYZ_Segment
0,1,-2516,152,1322293.650,1,2,1,At Risk,1.0,1436721.0,CZ
1,35,-2364,145,1555078.750,4,1,2,At Risk,35.0,1982013.0,CZ
2,46,-2303,157,1508126.075,5,3,2,At Risk,46.0,1837543.0,CZ
3,45,-2303,156,1630027.300,5,2,3,At Risk,45.0,1710019.0,CZ
4,5,-2516,159,1609240.225,1,3,3,At Risk,5.0,2011381.0,CZ
5,6,-2302,143,1530792.575,5,1,2,At Risk,6.0,1422355.0,CZ
6,7,-2516,153,1544097.825,1,2,2,At Risk,7.0,1727137.0,CZ
7,8,-2395,142,1411533.150,4,1,1,At Risk,8.0,1976953.0,CZ
8,44,-2516,156,1530037.450,1,3,2,At Risk,44.0,1268980.0,CZ
9,43,-2454,151,1564268.200,4,2,3,At Risk,43.0,1754789.0,CZ
10,42,-2456,161,1653790.350,2,3,3,At Risk,42.0,1334300.0,CZ
11,12,-2516,210,2248365.350,1,5,5,At Risk,12.0,1846232.0,CZ
12,2,-2516,135,1346280.925,1,1,1,At Risk,2.0,2005662.0,CZ
13,14,-2393,157,1452237.450,4,3,1,At Risk,14.0,1921412.0,CZ
14,15,-2455,142,1512752.275,3,1,2,At Risk,15.0,1620374.0,CZ
15,16,-2362,135,1547804.025,5,1,2,At Risk,16.0,1849936.0,CZ
16,41,-2454,161,1533049.175,3,3,2,At Risk,41.0,2049999.0,CZ
17,40,-2515,150,1636913.900,2,2,3,At Risk,40.0,2130879.0,CZ
18,19,-2515,165,1723563.875,2,4,4,At Risk,19.0,1790736.0,CZ
19,20,-2454,167,1523918.475,3,4,2,At Risk,20.0,1821114.0,CZ
20,21,-2515,164,1881626.650,1,4,5,At Risk,21.0,1821893.0,CZ
21,22,-2515,140,1494040.975,1,1,1,At Risk,22.0,1742473.0,CZ
22,23,-2515,164,1793536.875,2,4,4,At Risk,23.0,2358829.0,CZ
23,24,-2456,151,1429973.950,3,2,1,At Risk,24.0,1785395.0,CZ
24,25,-2456,162,1762789.975,2,4,4,At Risk,25.0,1825442.0,CZ
25,26,-2516,153,1561763.925,1,2,3,At Risk,26.0,1607059.0,CZ
26,27,-2454,144,1398029.425,4,1,1,At Risk,27.0,1786498.0,CZ
27,28,-2363,145,1408606.550,5,1,1,At Risk,28.0,1685264.0,CZ
28,29,-2515,179,2112298.050,2,5,5,At Risk,29.0,1881723.0,CZ
29,39,-2515,176,1823951.800,2,5,4,At Risk,39.0,1528325.0,CZ
30,31,-2515,152,1450067.400,2,2,1,At Risk,31.0,1584933.0,CZ
31,32,-2515,173,1856402.250,2,5,5,At Risk,32.0,1402755.0,CZ
32,38,-2060,150,1414008.425,5,1,1,At Risk,38.0,1868204.0,CZ
33,36,-2515,156,1620914.550,2,3,3,At Risk,36.0,1703639.0,CZ
34,37,-2362,152,1622290.025,5,2,3,At Risk,37.0,2052922.0,CZ
35,49,-2302,152,1503479.125,5,2,2,At Risk,NaN,NaN,None
36,48,-2516,172,1670118.450,1,5,4,At Risk,NaN,NaN,None
37,34,-2394,176,1937855.550,4,5,5,Champions,34.0,1401406.0,CZ
38,11,-2395,178,1883441.700,4,5,5,Champions,11.0,1885355.0,CZ
39,9,-2393,171,1830032.700,4,4,4,Champions,9.0,1644140.0,CZ
40,4,-2395,167,1770619.150,4,4,4,Champions,4.0,2071597.0,CZ
41,3,-2362,181,1831999.425,5,5,4,Champions,3.0,1813633.0,CZ
42,13,-2151,171,1868317.775,5,4,5,Champions,13.0,1642755.0,CZ
43,47,-2455,168,1579636.650,3,4,3,Loyal Customers,47.0,1542402.0,CZ
44,33,-2456,156,1895228.650,3,3,5,Loyal Customers,33.0,1529285.0,CZ
45,30,-2454,159,1640417.475,4,3,3,Loyal Customers,30.0,1536405.0,CZ
46,18,-2456,186,1845832.950,3,5,5,Loyal Customers,18.0,1697611.0,CZ
47,17,-2454,175,1962076.850,3,5,5,Loyal Customers,17.0,1925184.0,CZ
48,10,-2455,158,1763958.425,3,3,4,Loyal Customers,10.0,1870972.0,CZ
49,50,-2456,163,1696233.175,3,4,4,Loyal Customers,NaN,NaN,None

In [ ]:
%%sql
-- Создание новой таблицы с анализом ABC, XYZ и RFM
CREATE TABLE SalesData_with_Analysis AS
WITH ABCXYZ_Analysis AS (
    SELECT
        _ProductID,
        SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER)) AS TotalRevenue,
        STDDEV(CAST("Order Quantity" AS INTEGER)) AS OrderStdDev,
        AVG(CAST("Order Quantity" AS INTEGER)) AS OrderAvg,
        -- ABC классификация
        CASE
            WHEN SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER)) >= 0.8 * SUM(SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER))) OVER ()
            THEN 'A'
            WHEN SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER)) >= 0.5 * SUM(SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER))) OVER ()
            THEN 'B'
            ELSE 'C'
        END AS ABC_Class,
        -- XYZ классификация
        CASE
            WHEN (STDDEV(CAST("Order Quantity" AS INTEGER)) / NULLIF(AVG(CAST("Order Quantity" AS INTEGER)), 0)) * 100 <= 10 THEN 'X'
            WHEN (STDDEV(CAST("Order Quantity" AS INTEGER)) / NULLIF(AVG(CAST("Order Quantity" AS INTEGER)), 0)) * 100 <= 25 THEN 'Y'
            ELSE 'Z'
        END AS XYZ_Class
    FROM SalesData
    GROUP BY _ProductID
),
RFM_Analysis AS (
    SELECT
        _CustomerID,
        DATEDIFF('day', MAX(OrderDate), CURRENT_DATE) AS Recency, -- Разница в днях с последнего заказа
        COUNT(DISTINCT OrderNumber) AS Frequency, -- Количество уникальных заказов
        SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER) - "Discount Applied") AS Monetary, -- Общая сумма продаж с учётом скидки
        -- Присвоение R, F, M категорий
        NTILE(5) OVER (ORDER BY DATEDIFF('day', MAX(OrderDate), CURRENT_DATE)) AS R_Score,
        NTILE(5) OVER (ORDER BY COUNT(DISTINCT OrderNumber)) AS F_Score,
        NTILE(5) OVER (ORDER BY SUM(CAST("Order Quantity" AS INTEGER) * CAST(REPLACE("Unit Price", ',', '') AS INTEGER) - "Discount Applied")) AS M_Score
    FROM SalesData
    GROUP BY _CustomerID
),
Final_Analysis AS (
    SELECT
        r._CustomerID,
        r.Recency,
        r.Frequency,
        r.Monetary,
        r.R_Score,
        r.F_Score,
        r.M_Score,
        -- Определение сегмента RFM
        CASE
            WHEN R_Score >= 4 AND F_Score >= 4 AND M_Score >= 4 THEN 'Champions'
            WHEN R_Score >= 3 AND F_Score >= 3 AND M_Score >= 3 THEN 'Loyal Customers'
            ELSE 'At Risk'
        END AS RFM_Segment,
        a._ProductID,
        a.TotalRevenue,
        a.ABC_Class || a.XYZ_Class AS ABCXYZ_Segment
    FROM RFM_Analysis r
    LEFT JOIN ABCXYZ_Analysis a ON a._ProductID = r._CustomerID -- Используем _ProductID для соединения
)
-- Вставляем данные в новую таблицу
SELECT
    s.*,  -- Все столбцы из таблицы SalesData
    f.Recency,
    f.Frequency,
    f.Monetary,
    f.RFM_Segment,
    f.ABCXYZ_Segment
INTO SalesData_with_Analysis -- Создание таблицы с анализом
FROM SalesData s
LEFT JOIN Final_Analysis f ON s._CustomerID = f._CustomerID  -- Используем _CustomerID для соединения с анализом
ORDER BY f.RFM_Segment, f.ABCXYZ_Segment;

-- Выгрузка данных в CSV
COPY SalesData_with_Analysis TO 'exported_data.csv' WITH (FORMAT CSV, HEADER TRUE);

   Count
0   7991

In [ ]:
%%sql
SELECT * FROM SalesData_with_Analysis where RFM_Segment = 'At Risk'

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price,Recency,Frequency,Monetary,RFM_Segment,ABCXYZ_Segment
0,SO - 0008058,Online,WARE-NMK1003,2026-09-20,2027-12-20,2008-01-21,2013-01-21,15,16,181,38,4,0.10,651.78,1018,-2362,135,1547804.025,At Risk,CZ
1,SO - 0002985,In-Store,WARE-UHY1004,2004-02-19,2004-05-19,2009-05-19,2012-05-19,5,19,230,46,6,0.10,"1,027.11",2446,-2515,165,1723563.875,At Risk,CZ
2,SO - 0004097,Wholesale,WARE-XYS1001,2015-05-19,2015-09-19,2028-09-19,2006-10-19,27,38,40,21,6,0.20,645.34,1152,-2060,150,1414008.425,At Risk,CZ
3,SO - 0004099,Wholesale,WARE-UHY1004,2015-05-19,2016-09-19,2021-09-19,2026-09-19,27,28,244,21,1,0.05,"2,465.60",3853,-2363,145,1408606.550,At Risk,CZ
4,SO - 000107,In-Store,WARE-XYS1001,2031-12-17,2031-05-18,2008-06-18,2014-06-18,10,14,6,5,4,0.15,536.67,1193,-2393,157,1452237.450,At Risk,CZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,SO - 0001344,Online,WARE-XYS1001,2019-07-18,2027-10-18,2030-10-18,2003-11-18,19,49,7,36,2,0.10,"1,294.64",2271,-2302,152,1503479.125,At Risk,None
5778,SO - 0001555,Online,WARE-NMK1003,2019-07-18,2021-11-18,2017-12-18,2023-12-18,15,49,138,30,3,0.05,722.93,871,-2302,152,1503479.125,At Risk,None
5779,SO - 0004175,Wholesale,WARE-PUJ1005,2015-05-19,2026-09-19,2002-10-19,2005-10-19,27,49,299,6,1,0.15,137.48,255,-2302,152,1503479.125,At Risk,None
5780,SO - 0002038,Online,WARE-MKL1006,2027-10-18,2009-01-19,2023-01-19,2028-01-19,15,49,359,30,3,0.15,481.19,891,-2302,152,1503479.125,At Risk,None
5781,SO - 0003674,Online,WARE-PUJ1005,2004-02-19,2026-07-19,2004-08-19,2007-08-19,13,49,279,42,4,0.10,405.35,737,-2302,152,1503479.125,At Risk,None